<div class="page-wrapper">
  <div class="page-section">
    <div class="left-section">
      <div class="left-wrapper">
        <h4 class="page-header"><b>Asgard</b></h4>
        <p class="para-text">A cloud based community for you to connect with fellow Asgardians</p>
      </div>
    </div>
    <img class="svg-img" src="../assets/img/celebrating.svg" alt="svg">
    <div class="right-section">
      <div class="form-container">
        <h3>Sign Up to Asguard</h3>
        <p class="para-text">Already have an account? <span class="link">Login</span></p>
        <div class="btn-container">
          <a class="google-btn"> <img src="../assets/img/google.png" alt="Google" class="icon"/>Sign up with Google</a>
          <div class="brand-btn"><img src="../assets/img/facebook.png" alt="Facebook" class="icon"/></div>
          <div class="brand-btn"><img src="../assets/img/apple.png" alt="Apple" class="icon"></div>
        </div>
        <div class="or-link">or</div>
        <form action="" class="form">
          <div class="floating-label">
            <input
              class="form-input"
              placeholder="Name"
              type="text"
              name="email"
              id="name"
              autocomplete="off"
            />
            <label for="name">Name</label>
          </div>
          <div class="floating-label">
            <input
              class="form-input"
              placeholder="Email"
              type="email"
              name="email"
              id="email"
              autocomplete="off"
            />
            <label for="email">Email</label>
          </div>
          <div class="floating-label">
            <input
              class="form-input"
              placeholder="Password"
              type="email"
              name="email"
              id="password"
              autocomplete="off"
            />
            <label for="password">Password</label>
          </div>
          <div class="password-meter">
            <label for="passwordStrength">Password Strength</label>
            <div class="meter-wrapper">
              <meter value="100"></meter>
              <meter value="100"></meter>
              <meter value="100"></meter>
            </div>
          </div>
          <div class="checkbox-wrapper">
            <input type="checkbox" />
            <span class="checkbox-text">By creating account you agree to accept our
              <span class="link">Privacy policy</span><span class="link"> Terms and condition</span> and
              <span class="link"> Notification Settings</span></span
            >
          </div>
          <button class="save-btn">Create Account</button>
        </form>
      </div>
    </div>
  </div>
</div>
